<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is Company</h1>
    <form action="{% url 'Core:core_add' %}" method="post">
    {% csrf_token %}
    <label for="name">Company Name:</label>
    <input type="text" id="name" name="name" placeholder="Enter your Company name">
    <br><br>
    <label for="location">Company Location:</label>
    <input type="text" id="location" name="location" placeholder="Enter your Company location">
    <br><br>
    <button onclick="submitName()">Save</button>
    <br><br>
    <a href="{% url 'Core:facility_add' %}">
    <button type="button">Go to Facility Page</button>
    </a>

    </form>

    
</body>
</html>