<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <h1>This is core index</h1>
   
    <table border ='1px'>
        <tr>
            <th>Company Name</th>
            <th>Company Location</th>
        </tr>
        {% for c in core_list %}
        <tr>
            <td>{{ c.name }}</td>
            <td>{{ c.location }}</td>
        </tr>
        {% endfor %}
        <a href="{% url 'Core:add_core' %}">Add New Core</a>
    </table>
</body>
</html>