<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
 <h1>Activity List</h1>

<a href="{% url 'activity_add' %}">Add Activity</a>
<br><br>

<table border="1" cellpadding="6">
    <tr>
        <th>ID</th>
        <th>Core</th>
        <th>Category</th>
        <th>Value</th>
        <th>Date</th>
        <th>CO₂</th>
    </tr>

    {% for row in rows %}
    <tr>
        <td>{{ row.id }}</td>
        <td>{{ row.core }}</td>
        <td>{{ row.category }}</td>
        <td>{{ row.value }}</td>
        <td>{{ row.date }}</td>
        <td>
            {% if row.co2 %}
                {{ row.co2 }}
            {% else %}
                -
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
</body>
</html>